img.group___image___item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.item__intro {
  padding: 0.4rem 0;
}
.item__intro .name {
  font-size: 0.8rem;
  font-weight: 700;
}
.item__intro .position {
  font-size: 0.789rem;
  font-weight: 500;
}
.item__intro .disc {
  font-size: 0.87rem;
  padding-top: 1rem;
}
