img.slider___image {
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 576px) {
  img.slider___image {
    height: 40vh;
  }
}
.carousel-caption h3 {
  color: #fff;
  font-size: 1.3rem;
}
.carousel-caption {
  position: absolute;
  right: 33%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  z-index: 3;
  top: 15%;
}
.carousel-item {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(90, 82, 82);
  opacity: 0.7;
  z-index: 1;
}
.carousel {
  position: relative;
  margin-top: 0px;
}
.wrapper___caption {
  /* background: black;
  border-radius: 11px;
  opacity: 0.6; */
  padding: 20px;
  text-align: left;
}
.wrapper___caption h3 {
  padding: 0;
  margin-bottom: 7px;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 900;
}
.list___item {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.list___item li {
  color: gold;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 3px 0;
  text-transform: capitalize;
  letter-spacing: 0.01rem;
}
.hero___icon {
  color: red;
  margin-right: 5px;
}
