.nav___bg {
  background-color: #6b463f !important;
  color: #fff !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}
a.custom__btn {
  color: #fff;
  text-decoration: none;
  background: #bd3d20;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  padding: 9px 10px;
  transition: all 200ms;
}
a.custom__btn:hover {
  transform: scale(1.05);
}
.custom__btn .login___icon {
  color: #f9f7f7;
  font-size: 0.7234567rem;
  margin-bottom: 4px;
}
.logo___area {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main___logo {
  width: 100px;
}
.logo___tittle {
}
.logo___tittle p {
  padding: 0;
  margin: 0;
}
