.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  margin-bottom: 10px;
}
.card:hover {
  transform: scale(1.01);
  transition: all 1s ease;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  z-index: 999;
}
/* .card img {
  height: 36vh;
} */

h5.card-title {
  color: #333;
  padding: 10px 0;
}

.card a {
  color: #333;
  text-decoration: none;
}
.text-muted i {
  margin: 0 10px;
}
.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%;
  height: 256px;
  object-fit: cover;
}
