.video___bg {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 1)
    ),
    url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Kachari_Bari1.jpg/1200px-Kachari_Bari1.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  color: white;
  padding: 20px;
  background-attachment: fixed;
}

.play___btn {
  color: #ffffff;
  font-size: 4rem;
  margin-top: 1rem;
}
.video___intro {
  color: #fff;
}
.video___intro p {
  font-size: 1rem;
  font-weight: 400;
  padding: 0 26rem;
  color: #ffffff;
}
.video___intro .title {
  font-weight: 700;
  font-size: 2.5rem;
  color: #ffffff;
}
