.play___btn {
  color: #fff;
  font-size: 4rem;
  margin-top: 1rem;
}
.video___intro {
  color: #fff;
}
.video___intro p {
  font-size: 1rem;
  font-weight: 400;
  padding: 0 26rem;
}
.video___intro .title {
  font-weight: 700;
  font-size: 2.5rem;
}
